{{#each this}}
  <a class='gallery__item' href='{{largeImageURL}}'>
    <div class='photo-card'>
      <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
      <div class='info'>
        <p class='info-item'>
          <i class='fa-solid fa-heart'></i>
          {{likes}}
        </p>
        <p class='info-item'>
          <i class='fa-solid fa-eye'></i>
          {{views}}
        </p>
        <p class='info-item'>
          <i class='fa-solid fa-comments'></i>
          {{comments}}
        </p>
        <p class='info-item'>
          <i class='fa-solid fa-cloud-arrow-down'>A</i>
          {{downloads}}
        </p>
      </div>
    </div>
  </a>
{{/each}}